/* 一覧 */
.app-table {
  table-layout: fixed;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 詳細 */
span.font-impact {
  word-break: break-all;
  font-size: 16px;
}

a.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

a.btn-link {
  font-weight: 700;
  height: 36px;
}

.btn-warning {
  background-color: #0d6efd;
  border-color: white;
}

.btn-info {
  background-color: #dc3545;
  border-color: white;
}

.btn-light {
  background-color: #6c757d;
  border-color: white;
}

.btn {
  color: white;
}

.btn-primary{
  background-color: #0d6efd;
}

.btn-secondary{
  background-color: #6c757d;
}

.btn-third{
  background-color: #dc3545;
}


/* PC */
.app-show-container {
  width: 100%;
}

/* タブレット */
@media (max-width: 768px) {

  /* 一覧 */
  .for-tablet {
    display: none;
  }

  .app-show-container {
    width: 1500px;
    height: 3000px;
  }

  span.font-impact {
    font-size: smaller;
  }
}

/* スマホ */
@media (max-device-width: 500px) {

  /* 一覧 */
  .for-pc.for-tablet {
    display: none;
  }

  .app-show-container {
    width: 1500px;
  }

  span.font-impact {
    font-size: smaller;
  }
}